.progress-circle {
    width: 60px;
    height: 60px;
    position: fixed;
    left: 20px;
    bottom: 20px;
}
.progress-circle text {
    font-size: 1.5em;
    fill: #333;
    text-anchor: middle;
    dominant-baseline: middle;
}

.star {
    cursor: pointer;
    font-size: 1.6em;
    display: none; /* Hide the star */
    background: linear-gradient(45deg, #ff9a00, #ffd700, #ff9a00);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
