.navbar {
    width: 100vw;
    padding: 20px 30px 20px 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: transparent;
    transition: background-color 0.3s;
    color: #333;
}

.navbar.scrolled {
    background-color: #ffffff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.nav-links {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    list-style: none;
    margin-bottom: 0;
    padding: 0;
}

.nav-links li:first-child {
    margin-right: auto;
    display: none;
}

.nav-links a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    transition: color 0.3s ease;
    padding: 5px 10px;
}

.nav-links a:hover {
    color: #007bff;
}

.top-block {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background-image: linear-gradient(rgba(30, 30, 30, 0.7), rgba(30, 30, 30, 0.7)), url("../images/right-bg.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
}

.top-block img {
    width: 180px;
    height: 180px;
    object-fit: cover;
    margin-top: 20vh;
    margin-bottom: 30px;
}

.top-block-content {
    color: white;
    max-width: 40%;
    margin-bottom: 30px;
}

.block-header {
    margin-top: 30px;
    margin-bottom: 10px;
}

.container .card {
    margin-bottom: 20px;
}
.container .card i {
    margin-right: 2px;
}

#contact {
    scroll-margin-top: 95px;
}
